# Ignore object files
*.o

# Ignore binary files
*.bin

# Ignore log files
*.log

# Ignore image files
*.img
*.iso


# Ignore some directories
build/
dist/
old/
.vscode/

# User program build artifacts (the committed artifact is crypto/user_*_elf.h)
user/*.elf
user/*.o
__pycache__/
